body { font-family: Arial, Verdana;
  font-size: 11pt;
  padding-left: 90px;
  padding-top: 10px;
  background-image: url("https://phonoteka.org/uploads/posts/2021-05/1620314491_33-phonoteka_org-p-fon-voina-vertikalnii-36.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: white

}
p{
  font-size: 15pt;
  color:white
   
}
td{
  border: 1px solid black;
  align-items: baseline;
  vertical-align: top;
  padding: 5px;
}
h1{
  font-size: 20pt;
  text-align: center;
}
